@font-face {
    font-family: "Geometric Slabserif 712";
    src: url("../SOURCE/FONTS/GeometricSlab712BT-BoldA.otf") format("opentype");
}

@font-face {
    font-family: "BRLNSR.TTF";
    src: url("../SOURCE/FONTS/BRLNSR.TTF") format("opentype");
}

@font-face {
    font-family: "Candara";
    src: url("../SOURCE/FONTS/Candara.ttf") format("opentype");
}

@font-face {
    font-family: "ArchivoNarrow-Bold";
    src: url("../SOURCE/FONTS/ArchivoNarrow-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "MYRIADPRO-REGULAR";
    src: url("../SOURCE/FONTS/MYRIADPRO-REGULAR.OTF") format("opentype");
}

@font-face {
    font-family: "Franklin Gothic Book Regular";
    src: url("../SOURCE/FONTS/Franklin-Gothic-Book-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Greek Freak";
    src: url("../SOURCE/FONTS/Greek-Freak.ttf") format("opentype");
}

@font-face {
    font-family: "Fontspring";
    src: url("../SOURCE/FONTS/Fontspring-DEMO-densa_bold.otf") format("opentype");
}

@font-face {
    font-family: "AgenorNeue";
    src: url("../SOURCE/FONTS/AgenorNeue-Regular.otf") format("opentype");
}

html,
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    min-height: 100%
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: white;

    position: fixed;
    top: 0;          
    left: 0;
    width: 100%;     
    z-index: 9999;
}

.header::before {
    content: "";
    position: absolute;
    top: -21px;             
    left: 0;
    width: 100%;     
    height: 120px;      
    background: rgba(0, 0, 0, 0.2);  
    z-index: -1;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    transition: background 0.3s ease;
}

.header.scrolled::before {
    background: rgba(0, 0, 0, 0.9);  
}

.header .pone-link {
    color: white;           
    text-decoration: none; 
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.header .pone-link:hover {
    text-shadow: 0 0 2px white;
    transform: scale(1.01);
}

.title-box h1 {
    font-family: "Geometric Slabserif 712", sans-serif;
}

.logo img {
    height: 60px;
    width: auto;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.logo img:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)) 
            drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
    transform: scale(1.05); 
}

.title-box {
    margin-left: 80px;
    transform: translateY(-65px);
}

.title-box h1 {
    font-size: 35px;
    margin: 0 0 -10px 0;
}


.title-box p {
    font-family: "BRLNSR.TTF", sans-serif;
    font-size: 23px;
    margin: 0;
}

.nav {
    position: absolute;
    top: 30px;
    left: 500px;
    font-family: "Candara", sans-serif;
}

.nav a {
    margin-left: 70px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 8px 12px;
    border-radius: 100px;
    transition: 0.2s;
    position: relative;
    -webkit-text-stroke: 0.2px white;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

.nav a:first-child {
    margin-left: 0;
}

.nav a:hover {
    text-shadow: 0 0 8px white;
    transform: scale(1.1);
}

.nav a:hover::after {
    transform: translateX(-10%) scaleX(1);
}

.nav-underline {
    width: 135px;         
    height: 2px;           
    background-color: white; 
    border: none;          
    margin: 22px 0 0 335px; 
    position: absolute;  
    transition: margin-left 0.6s ease;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    padding-top: 95px;
    transition: right 0.3s ease;
    z-index: 1000;

    align-items: flex-end; 
}

.mobile-nav a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: "BRLNSR.TTF", sans-serif;
}

.burger-menu { 
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    display: none; 
}

.burger-menu div {
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

.mobile-nav.active {
    right: 0;
}

.search-box {
    position: absolute;
    right: 90px;        
    top: 35%;            
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 8px 35px 8px 15px;
    border: none;
    border-radius: 15px;
    background-color: #292929;
    outline: none;
    width: 250px;
    height: 30px;
    font-size: 24px;
    font-family: "Candara", sans-serif;
    text-align: left;
    -webkit-text-stroke: 0.7px #777777;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.search-box input::placeholder {
    padding-left: 30px;
    transition: padding-left 0.3s;
}

.search-box img.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

.search-box input:focus + .search-icon {
    opacity: 0;              
}

.search-box input:focus::placeholder {
    padding-left: 0;         
}

.search-box img {
    position: absolute;
    left: 12px;
    top: 24px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

#monumentsList {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #292929;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none; 
    z-index: 10;
    font-family: "BRLNSR.TTF", sans-serif;
}

#monumentsList li {
    display: flex;             
    align-items: center;
    padding: 10px 10px 10px 60px;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
    position: relative;         
}

#monumentsList li .li-icon {
    position: absolute;         
    left: 10px;                 
    width: 40px;
    height: 40px;
}

#monumentsList li:hover {
    background-color: #444;     
}

#monumentsList li .li-text {
    display: flex;
    flex-direction: column;     
}

#monumentsList li .li-title {
    font-size: 17px;
    font-weight: bold;
}

#monumentsList li .li-subtitle {
    font-size: 16px;
    color: #aaaaaa;      
    font-family: "BRLNSR.TTF", sans-serif;     
}

.search-toggle {
    display: none;
    position: fixed;
    top: 36px;
    right: 70px;
    cursor: pointer;
    z-index: 1100;
}

.search-toggle img {
    width: 30px;
}

#mobileSearchBox {
    position: fixed;
    top: 50px;
    right: 60px;
    width: 0;
    overflow: hidden;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    transition: width 0.3s ease, padding 0.3s ease, background-color 0.3s ease;
    z-index: 1200;
}

#mobileSearchBox input {
    display: flex;             
    align-items: center;
    padding: 10px 10px 10px 60px;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
    position: relative;  
    z-index: 10000; 
}

#mobileMonumentsList {
    position: absolute;       
    top: 45px;               
    right: 110px;
    width: 25.1%;              
    background-color: #292929;
    border-radius: 15px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;            
    font-family: "BRLNSR.TTF", sans-serif;
    padding-top: 20px;
}

#mobileMonumentsList li {
    display: flex;             
    align-items: center;
    padding: 10px 10px 10px 60px;  
    cursor: pointer;
    color: white;
    transition: background 0.2s;
    position: relative;
}

#mobileMonumentsList li .li-icon {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

#mobileMonumentsList li:hover {
    background-color: #444;
}

#mobileMonumentsList li .li-text {
    display: flex;
    flex-direction: column;
}

#mobileMonumentsList li .li-title {
    font-size: 17px;
    font-weight: bold;
}

#mobileMonumentsList li .li-subtitle {
    font-size: 16px;
    color: #aaaaaa;
    font-family: "BRLNSR.TTF", sans-serif;
}

.rome-container {
    position: relative;   
    width: 100%;    
}

.rome-container .center-text {
    position: absolute;
    margin-top: 200px;      
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 1;
    opacity: 0;            
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 320px;
}

.gallery div {
    opacity: 0;                 
    transform: translateY(30px); 
    transition: opacity 1s ease, transform 1s ease;
}

.gallery div.visible {
    opacity: 1;
    transform: translateY(0);  
}

.gallery div a img {
    width: auto;
    height: auto;
    display: block;
    transition: transform 0.8s ease, filter 0.8s ease, box-shadow 0.8s ease;
}

.gallery div a img:hover {
    transform: scale(1.05);
    filter: brightness(1.13);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.rome-container, .gallery {
    transition: opacity 0.8s ease;
}

.fade-out {
    opacity: 0;
}


.footer {
    width: 100%;
    padding: 15px 25px;
    color: white;
    font-family: "BRLNSR.TTF", sans-serif;
    font-size: 23px;
    position: relative; 
    display: flex;
    align-items: center;        
    justify-content: flex-start; 
}

.footer p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;  
}

.footer a.pone-link, a.footer-link {
    color: white;           
    text-decoration: none; 
    transition: color 0.3s ease;
}

.footer a.pone-link:hover,
.footer a.footer-link:hover {
    color: #ccc;
}

.back-to-top {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content; 
    top: 40%;          
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    border-radius: 50px;
    animation: float 5s ease-in-out infinite; 
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

.back-to-top img.back-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle; 
}


/* 4K / Ultra HD */
@media screen and (max-width: 3840px) {

}

/** Large Desktop - Full HD **/
@media screen and (min-width: 1920px) and (max-width: 3839px) {

}

/** Desktop - Standard laptops **/
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    .nav a {
        margin-left: 50px;
        font-size: 20px;
        padding: 8px 1px;
    }

    .nav-underline {       
        margin: 29px 0 0 200px; 
    }
    .gallery div a {
        display: flex;
        justify-content: center;
    }

    .gallery div a img {
        width: 100%;
        flex-shrink: 0;
    }
}

/** Small Desktop **/
@media screen and (min-width: 1280px) and (max-width: 1365px) {
    .burger-menu{
        display: none;
    }
    .nav a {
        margin-left: 40px;
        font-size: 18px;
        padding: 8px 1px;
    }

    .nav-underline {       
        margin: 30px 0 0 165px; 
    }

    .gallery div a {
        display: flex;
        justify-content: center;
    }

    .gallery div a img {
        width: 100%;
        flex-shrink: 0;
    }
}

/** Tablet Landscape **/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .nav { display: none; }
    .search-box {display: none;}

    .burger-menu {
        display: flex;
        top: 40px;
    }

    .search-toggle {
        display: block;
    }

    .rome-container .center-text {  
        font-size: 90px;
        margin-top: 175px;
    }

    .gallery {
        margin-top: 250px;
    }
    .gallery div a {
        display: flex;
        justify-content: center;
    }

    .gallery div a img {
        width: 100%;
        flex-shrink: 0;
    }
    
    .footer {
        border: none;
        margin-bottom: 20px; 
    }
    
    .footer p, 
    .footer a.pone-link, 
    .footer a.footer-link {
        display: none; 
    }

}

/** Mobile Large **/
@media screen and (max-width: 1023px) {
    .nav { display: none; }
    .search-box {display: none;}

    .header::before {   
        height: 90px;      
    }

    .burger-menu {
        display: flex;
        top: 20px;
    }

    .search-toggle {
        top: 17px;
        display: block;
    }

    #mobileSearchBox {
        top: 32px;
    }
    
    #mobileMonumentsList {    
        top: 25px;               
        width: 58%;              
    }
        .logo img{
        height: 40px;
        transform: translateX(-12px);
        
    }
    
    .title-box{
        transform: translate(-40px, -47px);
    }

    .title-box h1{
        font-size: 25px;
        margin: 0 0 -5px 0;
    }

    .title-box p{
        font-size: 15px;
    }

    .rome-container .center-text {  
        font-size: 60px;
        margin-top: 110px;
    }

    .gallery {
        margin-top: 150px;
    }
    
    .gallery div a {
        display: flex;
        justify-content: center;
    }

    .gallery div a img {
        width: 150%;
        flex-shrink: 0;
    }

}

    .footer {
        border: none;
        margin-bottom: 20px; 
    }
    
    .footer p, 
    .footer a.pone-link, 
    .footer a.footer-link {
        display: none; 
    }

}
